@import 'animation.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
}

@property --scrollbar-thumb-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

@property --scrollbar-thumb-border-style {
  syntax: '<border-style>';
  inherits: true;
  initial-value: none;
}

@property --scrollbar-thumb-bg-card-inner {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

@property --scrollbar-thumb-border-style-card-inner {
  syntax: '<border-style>';
  inherits: true;
  initial-value: none;
}

@layer utilities {
  .pulsed-text {
    animation:
      shadowPulseRed 0.2s steps(2, end) infinite alternate 1s,
      shadowPulseRed 1.5s linear 1 forwards alternate 2s;
  }
  .pulsed-text-white {
    animation:
      shadowPulseWhite 0.2s steps(2, end) infinite alternate 1s,
      shadowPulseWhite 1.5s linear 1 forwards alternate 2s;
  }

  .button-text {
    @apply font-tomorrow font-semibold tracking-[2px] leading-[16.67px] text-[0.9375em] text-black;
  }

  .span-clip-path {
    clip-path: polygon(0 16%, 0% 100%, 71% 100%);
  }

  .button-clip-path {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 75% 100%, 4% 100%, 0% 75%, 0 0);
  }

  .button-shadow {
    position: relative;
    transform: perspective(100px) translateZ(-360px);
    opacity: 0;
    animation:
      slide-fwd-center 0.5s linear forwards 1 2s,
      shadowPulseYellow 1.5s linear 1 forwards alternate 1s;
  }

  .button-bg {
    background-image: url('/assets/icons/arrow.svg'), url('/assets/icons/bage.svg');
    background-repeat: no-repeat no-repeat;
    background-position:
      85% 50%,
      90% 115%;
  }

  .central-bg-0 {
    background-image: url('/assets/images/ellipse.png'), url('/assets/gifs/bg.gif');
    background-repeat: no-repeat, no-repeat;
    background-size:
      95% 70%,
      cover;
    background-position:
      700% -75%,
      20% 100%;
  }

  .central-bg-mobile-0 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('/assets/images/ellipse.png'), url('/assets/gifs/bg.gif');
    padding: 0 15px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size:
      cover,
      95% 70%,
      cover;
    background-position:
      100% 100%,
      700% -75%,
      20% 100%;
  }

  .central-bg-mobile-1 {
    @apply central-bg-mobile-0;
    background-position:
      100% 100%,
      700% -75%,
      40% 100%;
  }

  .central-bg-mobile-2 {
    @apply central-bg-mobile-0;
    background-position:
      100% 100%,
      700% -75%,
      60% 100%;
  }
  .central-bg-mobile-3 {
    @apply central-bg-mobile-0;
    background-position:
      100% 100%,
      700% -75%,
      80% 100%;
  }
  .central-bg-mobile-4 {
    @apply central-bg-mobile-0;
    background-position:
      100% 100%,
      700% -75%,
      100% 100%;
  }

  .central-bg-1 {
    @apply central-bg-0;
    background-position:
      700% -75%,
      40% 100%;
  }
  .central-bg-2 {
    @apply central-bg-0;
    background-position:
      700% -75%,
      60% 100%;
  }
  .central-bg-3 {
    @apply central-bg-0;
    background-position:
      700% -75%,
      80% 100%;
  }
  .central-bg-4 {
    @apply central-bg-0;
    background-position:
      700% -75%,
      100% 100%;
  }

  .neon-wrapper-border {
    @apply rounded-tl-[16px] rounded-tr-[0px] rounded-br-[0px] rounded-bl-[16px];
  }
  .neon-wrapper-border-invert {
    @apply rounded-tl-[0px] rounded-tr-[16px] rounded-br-[16px] rounded-bl-[0px];
  }

  .aside-img-shadow {
    box-shadow: inset 2px -2px 30px 40px rgba(0, 0, 0, 0.75);
  }

  .aside-text {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  .bg-linear-gradient {
    background-image: radial-gradient(
      rgba(193, 97, 201, 1) 50%,
      rgba(73, 89, 236, 1) 55%,
      rgba(0, 0, 0, 1) 67%,
      rgba(73, 89, 236, 1) 80%,
      rgba(193, 97, 201, 1) 100%
    );
  }

  .aside-text::before {
    @apply neon-wrapper-border;
    @apply bg-linear-gradient;
    content: '';
    position: absolute;
    left: 5%;
    top: -20%;
    width: 90%;
    height: 150%;
    z-index: -2;
    transform: rotate(25deg);
    transform-origin: center center;
    animation:
      rotateLeft 0.5s linear 1 0.5s,
      pulse 0.2s steps(2, end) infinite alternate 1s,
      pulse 1.5s linear 1 alternate forwards 2s;
  }

  .content-part {
    height: calc(100dvh - 80px);
  }

  .aside-text::after {
    @apply neon-wrapper-border;
    content: '';
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #000;
  }

  .central-text {
    position: relative;
    overflow: hidden;
    z-index: 0;
    @apply neon-wrapper-border-invert;
  }

  .central-text::before {
    @apply neon-wrapper-border-invert;
    @apply bg-linear-gradient;
    content: '';
    position: absolute;
    left: 10%;
    top: -50%;
    width: 80%;
    height: 200%;
    z-index: -2;
    transform-origin: center center;
    transform: rotate(-30deg);
    animation:
      rotateRight 2s linear 1 0.5s,
      pulse 1.5s linear 1 forwards alternate 1s;
  }

  .central-text::after {
    @apply neon-wrapper-border-invert;
    content: '';
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #000;
  }

  .home-title {
    @apply font-agencyFb text-[5.9375em] font-normal leading-[114px] text-white uppercase;
  }

  .logo-title {
    @apply font-agencyFb text-[1.6875em] font-bold leading-[33px] uppercase;
  }

  .link-text {
    @apply font-agencyFb text-[1.6875em] font-normal leading-[33px] text-grayLight;
  }

  .hover-opacity {
    @apply transition-opacity ease-linear duration-200 hover:opacity-[0.7];
  }

  .home-title-animation-up {
    position: absolute;
    transform: rotate(90deg);
    width: 100%;
    right: -45px;
    animation: home-title-up 1s linear 1 forwards;
  }

  .home-title-animation-down {
    position: absolute;
    left: -45px;
    width: 100%;
    transform: rotate(-90deg);
    animation: home-title-down 1s linear 1 forwards;
  }

  .container-app {
    margin: 0 auto;
    padding: 0 30px;
  }

  .greetings-title {
    @apply font-rajdhani text-[4.25em] font-medium leading-[87px] tracking-[2px] text-redNeon overflow-hidden h-fit whitespace-nowrap max-w-fit pr-[0.2em] pb-4 flex-shrink-0;
    border-right: 0.2em solid rgba(247, 80, 73, 0.77);
    text-shadow: 0.15em 0.25em 0.14em rgba(247, 80, 73, 0.77);
  }

  .experience-greetings-title {
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.2s steps(10, end) 6 forwards;
  }

  .projects-greetings-title {
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.2s steps(10, end) 5 forwards;
  }

  .home-greeting-title {
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.2s steps(10, end) 12 forwards;
  }

  .greetings-subtitle {
    @apply font-rajdhani text-[2em] font-medium leading-[32px] tracking-[2px] text-white opacity-0;
    animation: showUp 0.5s linear 1 forwards 1.5s;
  }

  .greetings-text {
    @apply font-rajdhani text-[1.5625em] font-medium leading-[32px] text-redNeon opacity-0;
    animation: showUp 0.7s linear 1 forwards 2s;
  }

  .work-place-title {
    @apply font-rajdhani text-[1.3em] font-semibold  text-blueNeon;
  }

  .work-place-date {
    @apply font-rajdhani text-[1.1em] font-light  text-gray-400;
  }

  .work-place-description {
    @apply font-rajdhani text-[1.2em] font-medium  text-gray-300;
  }

  .work-place-achievement {
    @apply font-rajdhani text-[1.2em] font-medium  text-gray-300;
  }

  .work-place-achievement:not(:first-of-type) {
    @apply mt-1;
  }

  .work-place-achievement > .achievement-technology {
    @apply font-tomorrow text-white;
  }

  .work-place-technologies {
    @apply font-rajdhani text-[1.3em] font-medium  text-aureolin;
  }

  .work-place-box {
    background-color: rgba(94, 246, 255, 0.1);
    border: 1px solid rgba(94, 246, 255, 0.3);
    position: relative;
    @apply p-4 relative flex-1 w-auto;
    clip-path: polygon(0 52%, 0 0, 100% 0, 100% 93%, 98% 100%, 0 100%, 0 90%, 1% 87%, 1% 54%);
    opacity: 0;
    transform: translateX(100%);
  }

  .work-place-wrapper::-webkit-scrollbar {
    width: 10px;
  }

  .work-place-wrapper::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg);
    border-style: var(--scrollbar-thumb-border-style);
    border-color: rgba(94, 246, 255, 0.3);
    border-radius: 10px;
  }

  .skills-wrapper:hover {
    --scrollbar-thumb-bg: rgba(94, 246, 255, 0.3);
    --scrollbar-thumb-border-style: solid;
  }

  .skills-wrapper::-webkit-scrollbar {
    width: 10px;
  }

  .skills-wrapper::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg);
    border-style: var(--scrollbar-thumb-border-style);
    border-color: rgba(94, 246, 255, 0.3);
    border-radius: 10px;
  }

  .work-place-wrapper:hover {
    --scrollbar-thumb-bg: rgba(94, 246, 255, 0.3);
    --scrollbar-thumb-border-style: solid;
  }

  .work-place-box-wrapper {
    position: relative;
  }

  .settings-button {
    background-image: url('/assets/icons/settings.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .settings-modal {
    transform: scale(0);
    transition: transform 0.25s ease-out;
  }

  .settings-modal-active {
    transform: scale(1);
  }

  .bg-button-common {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .settings-hint {
    opacity: 0;
    border-radius: 10px 0px 10px 10px;
    transition: opacity 1s linear;
  }

  .settings-hint-active {
    opacity: 1;
  }

  .projects-slider {
    @apply flex gap-4 flex-grow;
  }

  .projects-list {
    @apply hidden pr-1;
  }

  .projects-list:hover {
    --scrollbar-thumb-bg: rgba(5, 41, 43, 1);
    --scrollbar-thumb-border-style: solid;
  }

  .projects-list::-webkit-scrollbar {
    width: 10px;
  }

  .projects-list::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg);
    border-style: var(--scrollbar-thumb-border-style);
    border-color: rgba(94, 246, 255, 0.3);
    border-radius: 10px;
  }

  .projects-slider button {
    @apply flex-shrink-0;
    opacity: 0;
    animation: showOpacity 1s linear forwards 1 0.6s;
    width: '30px';
    height: '30px';
  }

  .projects-wrapper {
    @apply flex gap-5 overflow-auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .projects-wrapper::webkit-scrollbar {
    display: none;
  }

  .card-shape-container {
    border: 1px solid rgba(94, 246, 255, 0.3);
    clip-path: polygon(0 52%, 0 0, 100% 0, 100% 93%, 98% 100%, 0 100%, 0 90%, 1% 87%, 1% 54%);
    background-color: rgba(94, 246, 255, 0.3);
  }

  .card-shape-container-second {
    background-color: rgba(5, 41, 43, 1);
  }

  .project-card {
    @apply px-5 pt-7 max-sm:pt-2 pb-3.5 flex flex-col justify-between card-shape-container max-h-[500px];
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    flex: 0 0 340px;
  }

  .projects-wrapper .project-card::-webkit-scrollbar {
    width: 4px;
  }

  .projects-wrapper .project-card::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg-card-inner);
    border-style: var(--scrollbar-thumb-border-style-card-inner);
    border-radius: 10px;
    border-color: transparent;
  }

  .projects-wrapper .project-card:hover {
    --scrollbar-thumb-bg-card-inner: rgba(94, 246, 255, 1);
    --scrollbar-thumb-border-style-card-inner: solid;
  }

  .technologies-trigger-name {
    @apply mt-3 cursor-pointer w-fit underline decoration-dotted underline-offset-8 decoration-4;
  }

  .technologies-hidden-list {
    @apply flex gap-2  flex-col absolute left-[30%] right-[0px] p-2 overflow-auto;
    border-radius: 0px 0px 0px 10px;
    background-color: rgba(5, 41, 43, 1);
    border: 1px solid rgba(94, 246, 255, 1);
    z-index: 1000;
    display: none;
  }

  .technologies-hidden-list::-webkit-scrollbar {
    width: 10px;
  }

  .technologies-hidden-list::-webkit-scrollbar-thumb {
    background: rgba(94, 246, 255, 0.3);
    border-style: solid;
    border-radius: 10px;
  }

  .project-card h5 {
    @apply font-rajdhani text-blueNeon font-bold text-3xl max-md:text-2xl max-sm:text-xl mb-5;
  }

  .project-card p {
    @apply font-rajdhani font-medium max-lg:font-light text-xl text-justify max-md:text-base max-sm:text-sm;
  }

  .project-card a {
    @apply font-agencyFb font-medium text-2xl max-md:text-xl max-sm:text-base underline text-aureolin underline-offset-2 block w-fit mx-auto;
  }

  .project-main-link {
    @apply flex gap-3 justify-center align-bottom max-w-fit mx-auto;
    opacity: 0;
    transform: translateY(200%);
    animation: slide-top 0.5s linear forwards 1 0.6s;
  }

  .project-main-link-button {
    @apply hover-opacity w-[30px] h-[30px];
    border-radius: 50%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0.2) 45%),
      url('/assets/icons/github.svg');
  }

  .project-main-link h6 {
    @apply font-rajdhani tracking-[2px] text-[1.2em] hover-opacity relative;
    background: linear-gradient(to bottom right, #cbcbcb 22%, #fefefe 38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .project-main-link h6:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #cbcbcb;
  }
}

@media (max-width: 1560px) {
  .greetings-title {
    font-size: 4em;
    line-height: 2em;
  }
}

@media (min-width: 1440px) {
  .projects-wrapper .project-card {
    opacity: 0;
  }
  .projects-wrapper .project-card:nth-child(even) {
    animation: showOpacity 0.5s linear forwards 1 0.6s;
  }
  .projects-wrapper .project-card:nth-child(odd) {
    transform: translateX(100%);
    animation: slide-from-right 0.5s linear forwards 1 0.5s;
  }
}

@media (max-width: 1440px) {
  body {
    font-size: 14px;
  }
  .project-card {
    flex: 0 0 100%;
  }
  .projects-wrapper .project-card:first-child {
    transform: unset;
    animation: showOpacity 0.5s linear forwards 1 0.6s;
    opacity: 0;
  }
}

@media (max-width: 1280px) {
  body {
    font-size: 13px;
  }
  .greetings-title {
    font-size: 3.3em;
  }
}

@media (max-width: 1025px) {
  .greetings-title {
    font-size: 3.15em;
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.2s steps(10, end) 13 forwards;
  }
}

@media (max-width: 992px) {
  .central-text::after,
  .central-text::before {
    display: none;
  }
  .header-block {
    padding: 0 15px;
  }
  .container-app {
    padding: 0px;
  }
  .greetings-title {
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.2s steps(10, end) 10 forwards;
  }
  .projects-slider {
    display: none;
  }
  .projects-list {
    @apply flex flex-col gap-2 overflow-auto overflow-x-hidden;
  }

  .projects-list .project-card {
    flex: 0 0 auto;
    max-height: 100%;
    opacity: 0;
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .greetings-title {
    padding-bottom: 0px;
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.2s steps(10, end) 8 forwards;
  }
}

@media (max-width: 625px) {
  .greetings-title {
    white-space: nowrap;
    text-align: justify;
    line-height: 50px;
  }
}

@media (max-width: 440px) {
  body {
    font-size: 11px;
  }
  .greetings-title {
    font-size: 3em;
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.2s steps(10, end) 12 forwards;
  }
  .greetings-subtitle {
    font-size: 1.8em;
  }
  .greetings-text {
    font-size: 1.4em;
  }
}

@media (max-width: 425px) {
  .greetings-title {
    font-size: 2.6em;
  }
  .greetings-subtitle {
    font-size: 1.5em;
  }
  .greetings-text {
    font-size: 1.4em;
  }
  .button-shadow a {
    max-width: 100%;
  }
  .projects-list .project-card {
    max-height: 100%;
  }
}

@media (max-width: 375px) {
  .greetings-title {
    font-size: 2.25em;
  }
  .greetings-subtitle {
    font-size: 1.5em;
  }
  .greetings-text {
    font-size: 1.4em;
  }
}

@media (max-width: 325px) {
  .home-main div p {
    text-align: left;
  }
  .greetings-title {
    font-size: 2.25em;
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.2s steps(10, end) 14 forwards;
  }
}
